@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="@Url.Content("~/res/templates/head.css")">
    <div class="animate__animated animate__bounceIn animate__delay-1s">
        <center><b>Status page is a WIP</b></center>
        <center>
            <a href="@Url.Action("Index", "Home")"><button class="btn1"></i> Home</button></a>
            <a href="@ViewBag.DiscordLink"><button class="btn1"><i class="fab fa-discord"></i> Discord</button></a>
            <a href="@ViewBag.StoreLink"><button class="btn2"><i class="fas fa-shopping-basket"></i> Store</button></a>
            <a href="@ViewBag.StaffAppLink"><button class="btn1"> Staff Application</button></a>
        </center>
    </div>
</head>
<body>
    <center><a href="https://minecraft-mp.com/server-s311611" target="_blank"><img src="https://minecraft-mp.com/banner-311611.png" border="0"></a></center><br>
    <center><a href="https://minecraft-mp.com/server-s288489" target="_blank"><img src="https://minecraft-mp.com/banner-288489-4.png" border="0"></a></center><br>
    <center><a href="https://minecraft-mp.com/server-s311641" target="_blank"><img src="https://minecraft-mp.com/banner-311641-5.png" border="0"></a></center><br>
    <center><a href="https://minecraft-mp.com/server-s289390" target="_blank"><img src="https://minecraft-mp.com/banner-289390-6.png" border="0"></a></center><br>
    <center><a href="https://minecraft-mp.com/server-s311642" target="_blank"><img src="https://minecraft-mp.com/banner-311642-2.png" border="0"></a></center><br>
    <center><a href="https://minecraft-mp.com/server-s311643" target="_blank"><img src="https://minecraft-mp.com/banner-311643-3.png" border="0"></a></center><br>
    <center><a href="https://minecraft-mp.com/server-s311644" target="_blank"><img src="https://minecraft-mp.com/banner-311644.png" border="0"></a></center><br>
    <center><a href="https://minecraft-mp.com/server-s311645" target="_blank"><img src="https://minecraft-mp.com/banner-311645-4.png" border="0"></a></center><br>
    <center><a href="https://minecraft-mp.com/server-s311646" target="_blank"><img src="https://minecraft-mp.com/banner-311646-3.png" border="0"></a></center>
</body>
</html>

<style>

body {
    background-image: url("@Url.Content("~/assets/background.jpg")");
    color: hotpink;
    font-size: large;
}

</style>